*.o
*.ko
*.mod*
Module*
module*
*.kmod*
*.Module*
*.cmd

testcases/test0
testcases/test1
testcases/test2
testcases/test3
testcases/test4
testcases/test5
testcases/test6
testcases/test7
testcases/test8
testcases/test9